PORT = 4000
JWT_ACCESS_SECRET = shhhh_secret
JWT_REFRESH_SECRET = secret_shhhh
GMAIL_ACCOUNT = dog.walkers.mail@gmail.com
GMAIL_PASS = skupina11
# DB credentials local
DB_HOST = db-mysql-fra1-87526-do-user-9202554-0.b.db.ondigitalocean.com
DB_PORT = 25060
DB_USER = user
DB_PASS = fgpbvh22buv063wo
DB_NAME = dogwalkers_stage
# memeCache credentials 
MEMCACHIER_SERVERS = mc5.c1.eu-central-1.ec2.memcachier.com:11211
MEMCACHIER_USERNAME = FF387C
MEMCACHIER_PASSWORD = 80D19ACE6C6186D06DB939A404CFBA49
#DogsAPIKey
DogsAPIKEY = 05522d68-80a1-4d19-ab16-3aa261c82885
#GoogleAPI
GOOGLE_CLIENT_ID = 996944113510-svogit7687nspjegjr6vq50va45nfho0.apps.googleusercontent.com
GOOGLE_PROJECT_ID = united-triode-314517
GOOGLE_AUTH_URI = https://accounts.google.com/o/oauth2/auth
GOOGLE_TOKEN_URI = https://oauth2.googleapis.com/token
GOOGLE_AUTH_PROVIDER_x509_CERT_URL = https://www.googleapis.com/oauth2/v1/certs
GOOGLE_CLIENT_SECRET = Ij2yq3Zwwj9NQa3_OKC1htde
GOOGLE_REDIRECT_URIS = ["https://tpo11-dogwalkers.herokuapp.com/"]