.NavbarItems {
    background: linear-gradient(90deg, rgb(255, 164, 28) 0%, rgb(255, 140, 0) 100%);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    z-index: 2;
    padding: 0;
    top: 0;
    width: 100vw;
    height: 4rem;
    transition: height 0.2ms ease;
    margin: 0;
}

.NavbarItems:hover {
    width: 100vw;
    height: 6rem;
}

.NavbarItems:hover .item_text {
    display: inline;
}

.menu {
    height: 4rem;
    width: 100vw;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    color: white;
    font-weight: bold;
}

.logo_picture {
    height: 3rem;
    width: auto;
    padding: 0.1rem 1rem 0.1rem 1.2rem;
}

.logo:hover {
    color: white;
}

.item_text {
    display: none;
    padding-top: 1rem;
}

.item_icon {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.nav_links {
    display: flex;
    color: white;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.356);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0.7vw 0 0.7vw;
    padding: 3vh 2vw 3vh 2vw;
}

.nav_links:hover {
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.356);
    background-color: #ffffff48;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    padding: 2vh 2.5vw 2vh 2.5vw;
}

.menu_opener {
    color: white;
    display: none;
}

@media screen and (max-width: 650px) {
    .nav_links {
        padding: 3vh 0.5vw 3vh 0.5vw;
    }

    .logo_text {
        display: none;
    }
}